@use "../../styles/partials/_general.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.word-definitions{
    text-align: left;
    margin: 1rem;
    .play-again__element{
        @include play-again;
    }
    .word-definitions__container{
        margin-bottom: 1rem;
        border-bottom: 2px solid black;
        p{
            & span{
                font-weight: 700;
                text-decoration: underline;
                color: black;
            }
        }
    }
}